.weatherInfo {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location {
  font-size: 35px;
}
.temperature {
  display: flex;
}
.currentTemp {
  font-size: 60px;
}
.celsius {
  font-size: 20px;
  line-height: 40px;
}
.description {
  font-size: 20px;
}
.windSpeed,
.humidity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.windSpeed > span,
.humidity > span {
  font-size: 20px;
  margin-left: 10px;
}

@media(max-width:700px){
  .weatherInfo {
    height: 200px;
    align-items: center;
  }
  .location {
    font-size: 30px;
  }
  .currentTemp {
    font-size: 40px;
  }
  .celsius {
    font-size: 15px;
    line-height: 30px;
  }
  .description {
    font-size: 15px;
  }
  .windSpeed > span,
  .humidity > span {
    font-size: 15px;
  }

}
