html, body {
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(rgb(170, 216, 243), rgb(210, 189, 245));
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherObservation {
  background-color: rgb(255, 255, 255, 0.384);
  width: 600px;
  height: 600px;


}