* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(170, 216, 243), rgb(210, 189, 245));
  background-attachment: fixed;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.weatherObservation {
  background-color: rgb(255, 255, 255, 0.384);
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.788);
  margin: 20px;
  position: relative;
}
.button::after {
  content: url(./img/icon_fresh.png);
  position: absolute;
  transform: scale(0.7);
  bottom: -15px;
  right: -12px;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.788);
}
.weatherInfo {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.location {
  font-size: 30px;
  font-weight: 400;
  color: rgb(88, 88, 88);
}
.temperature {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 80px;
  font-weight: 200;
  color: rgb(131, 131, 131);
  display: flex;
}
.temperature > span {
  font-size: 20px;
  line-height: 60px;
}
.description {
  font-size: 20px;
  color: rgb(131, 131, 131);
}
.windSpeed,
.humidity {
  display: flex;
  justify-content: flex-start;
}
.windSpeed > span,
.humidity > span {
  font-size: 20px;
  color: rgb(131, 131, 131);
}
.windSpeed > img,
.humidity > img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 5%;
}
.weatherIcon {
  max-width: 200px;
  max-height: 200px;
}
.forecast {
  width: 500px;
  height: 160px;
  color: rgb(131, 131, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.forecast::-webkit-scrollbar {
  display: none;
}
.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 20px;
  border: 1px solid;
  border-color: transparent #ffffff transparent transparent;
  width: 100px;
  height: 150px;
  padding: 0 1% 0 0;
}
.date {
  font-weight: 500;
  letter-spacing: 2px;
}
.fcTemp {
  height: 25px;
  line-height: 25px;
  display: flex;
}
.fcTemp > span {
  font-size: 12px;
  line-height: 20px;
}
.fcIcon {
  max-width: 70px;
  max-height: 70px;
}

@media (max-width: 700px) {
  .button {
    width: 30px;
    height: 30px;
  }
  .button::after {
    transform: scale(0.5);
    bottom: -20px;
    right: -17px;
  }
  .weatherObservation {
    width: 300px;
    height: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .weatherInfo {
    height: 200px;
    align-items: center;
    justify-content: space-between;
  }
  .temperature {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
  }
  .temperature > span {
    font-size: 15px;
    line-height: 30px;
  }
  .description {
    font-size: 15px;
  }
  .windSpeed > span,
  .humidity > span {
    font-size: 15px;
  }
  .windSpeed > img,
  .humidity > img {
    max-width: 20px;
    max-height: 20px;
  }
  .weatherIcon {
    max-width: 90px;
    max-height: 90px;
  }
  .forecast {
    width: 270px;
    height: 150px;
  }
  .day {
    width: 80px;
    height: 130px;
    font-size: 15px;
  }
  .date {
    font-weight: 400;
  }
  .fcTemp > span {
    font-size: 10px;
  }
  .fcIcon {
    width: 50px;
    height: 50px;
  }
}
