html, body {
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(rgb(170, 216, 243), rgb(210, 189, 245));
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherObservation {
  background-color: rgb(255, 255, 255, 0.384);
  width: 600px;
  height: 600px;
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 2% 0 1% 0;
}
.weatherInfo {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid ;
}
.location {
  font-size: 30px;
  font-weight: 400;
  color: rgb(88, 88, 88);
}
.temperature {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 80px;
  font-weight: 200;
  color: rgb(131, 131, 131);
  display: flex;
}
.temperature > span {
  font-size: 20px;
  line-height: 60px;
}
.description {
  font-size: 20px;
  color: rgb(131, 131, 131);
}
.windSpeed, .humidity {
  display: flex;
  align-items: center;
}
.windSpeed > span, .humidity > span {
  font-size: 20px;
  color: rgb(131, 131, 131); 
}
.windSpeed > img, .humidity > img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 5%;
}
