.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.refreshBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.788);
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;

  animation-name: rotateButton;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading{
  animation-play-state: running;
}
.pauseLoading{
  animation-play-state: paused;
}

@keyframes rotateButton{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(720deg);}
}


.weatherObservation {
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.274);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.weatherIcon {
  width: 200px;
  height: 200px;
}

@media (max-width: 700px){
  .refreshBtn{
    width: 30px;
    height: 30px;
  }
  .weatherObservation {
    width: 300px;
    height: 550px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .weatherIcon {
    width: 95px;
    height: 95px;
  }
}

@media (max-width: 400px) {
  .weatherObservation {
    height: 500px;
  }
}